---
import { ClientRouter, fade, slide } from "astro:transitions";

import LogoCbtis from "../../components/logos/logo-cbtis.astro";
import LogoCaed from "../../components/logos/logo-caed.astro";

import Bienvenido from "../../components/logos/bienvenido.astro";
import Loader from "../../components/loaders/loading-2.astro";

import "../../style/base.css";

import IconDictionary from "../../components/icons/icon-dictionary.astro";
import IconTranslate from "../../components/icons/icon-translate.astro";
import IconBraille from "../../components/icons/icon-braille.astro";

import LocalVersion from "../../utils/localVersion";
---

<body
    class="bg-gradient-generic
    grid
    grid-rows-5
    grid-cols-1
    h-min-[100vh]
    place-content-around
    overflow-y-hidden
    "
    id="body_choose"
>
    <ClientRouter />

    <header
        class="row-start-1 flex flex-wrap md:flex-nowrap justify-around lg:justify-around pt-3 px-5"
    >
        <div
            class="flex justify-center lg:jusitfy-around lg:w-full lg:h-full md:order-1 max-w-[100px]"
        >
            <LogoCbtis size="100%" color="#0b3441" />
        </div>
        <div class="flex justify-center items-center order-last md:order-2">
            <Bienvenido size="100%" color="#0b3441" />
        </div>
        <div
            class="flex justify-between lg:w-full lg:h-full md:order-3 max-w-[100px]"
        >
            <LogoCaed size="100%" color="#0b3441" />
        </div>
    </header>

    <main class="row-span-3 grid grid-cols-2 lg:grid-cols-3">
        <section
            class="flex flex-col justify-center items-center cursor-pointer 
            hover:scale-110 transition-transform ease-in-out duration-600 hover:drop-shadow-xl"
        >
            <a
                id="dictionary-btn"
                title="Traductor"
                class="bg-[#EDFEFE] w-[122px] h-[122px] rounded-[12.5px] flex flex-col justify-center items-center
                mb-3 drop-shadow-xl
                cursor-pointer"
                href="/diccionario"
            >
                <IconDictionary size="75%" />
            </a>

            <label
                class="c-placeholder-text text-xl text-[#0B3441] cursor-pointer"
                for="dictionary-btn">Diccionario</label
            >
        </section>

        <section
            class="flex flex-col justify-center items-center cursor-pointer
            hover:scale-110 transition-transform ease-in-out duration-600 hover:drop-shadow-xl"
        >
            <a
                id="translate-btn"
                title="Diccionario"
                class="bg-[#EDFEFE] w-[122px] h-[122px] rounded-[12.5px] flex justify-center items-center
                mb-3 drop-shadow-xl
                cursor-pointer"
                href="/traductor"
            >
                <IconTranslate size="75%" />
            </a>
            <label
                class="c-placeholder-text text-xl text-[#0B3441] cursor-pointer"
                for="translate-btn">Traductor</label
            >
        </section>

        <section
            class="col-span-2 lg:col-span-1 flex flex-col justify-center items-center cursor-pointer
            hover:scale-110 transition-transform ease-in-out duration-600 hover:drop-shadow-xl "
        >
            <a
                id="braille-btn"
                title="Braile"
                class="bg-[#EDFEFE] w-[122px] h-[122px] rounded-[12.5px] flex justify-center items-center
                mb-3 drop-shadow-xl
                cursor-pointer"
                href="/braille"
            >
                <IconBraille size="75%" />
            </a>
            <label
                class="c-placeholder-text text-xl text-[#0B3441] cursor-pointer"
                for="braille-btn">Braille</label
            >
        </section>
    </main>

    <footer class="flex items-center align-center ">
        <span
            class="text-center text-lg text-[#FFFFFF] font-[600] c-placeholder-text w-full"
        >
            Versión {LocalVersion}
            <br /> Designed by DevSpark
        </span>
    </footer>
</body>

<script></script>
