---
import { ClientRouter, fade, slide } from "astro:transitions";
import "../../style/base.css";

import CustomLetter from "../../components/braille/custom-letter.astro";
import BrailleTimelineSvelte from "../../components/braille/time-line.svelte";


import LogoCaed from "../../components/logos/logo-caed.astro";
import LogoCbtis from "../../components/logos/logo-cbtis.astro";
import IconLeftArrow from "../../components/icons/icon-left-arrow.astro";

import LocalVersion from "../../utils/localVersion";
import Loader from "../../components/loaders/loading-2.astro";
import IconX from "../../components/icons/icon-x.astro";

export const prerender = false; // Hace que la página se renderice en el servidor dinámicamente

const url = new URL(Astro.url);
const word = url.searchParams.get("word") || ""; // "xd" es el valor por defecto si no hay palabra

const letterArray = Array.from(word);

---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Asistente de braille</title>
        <ClientRouter />
    </head>
    <body
        class="bg-gradient-generic flex flex-col justify-evenly items-center h-screen"
    >
        <Loader />
        <nav class="flex flex-col md:flex-row justify-between items-center py-3 w-full md:w-5/6 h-auto md:h-1/5">
            <!-- Logo CBTIS -->
            <a href="https://cbtis212.online/" class="hidden lg:block md:h-full md:mb-0">
                <LogoCbtis size="100%" color="#0B3441" />
            </a>
            
            <!-- Sección central (flecha y búsqueda) -->
            <div class="flex w-5/6 md:flex-row justify-center  lg:w-3/5 gap-4 md:gap-x-10 h-auto md:h-full">
                <!-- Botón de regresar -->
                <a
                    href="/braille"
                    class="flex justify-center items-center aspect-square bg-[#edfefe] p-[10px] rounded-[25px] w-1/5 md:w-auto"
                    aria-label="Regresar al inicio"
                    title="Volver al inicio"
                >
                    <span class="ml-[25%]">
                        <IconLeftArrow size={"100%"} color="#083441" />
                    </span>
                </a>
                
                <!-- Formulario de búsqueda -->
                <div class="flex justify-center w-4/5 h-full md:h-full">
                    <section
                        class="w-full rounded-[25px] px-2 md:px-4 bg-[#edfefe]"
                        id=""
                    >
                        <form
                            action=""
                            class="flex justify-between font-xl h-full"
                            id="searchForm"
                        >
                            <input
                                id="search-bar-input"
                                type="text"
                                class="h-full w-full text-lg md:text-3xl pl-2 placeholder:text-lg md:placeholder:text-3xl outline-none"
                                placeholder={"Traducir a braille"}
                            />
                            <button
                                id="button-x"
                                type="reset"
                                class="h-full p-2 md:p-4 cursor-pointer hidden"
                            >
                                <IconX size="24px" color="#0B3441" />
                            </button>
                            <button
                                type="submit"
                                class="h-auto flex justify-center items-center"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="auto"
                                    height="60%"
                                    viewBox="0 0 24 24"
                                    ><path
                                        fill="#0B3441"
                                        d="m2 21l21-9L2 3v7l15 2l-15 2z"
                                    ></path></svg
                                >
                            </button>
                        </form>
                    </section>
                </div>
            </div>
            
            <!-- Logo CAED -->
            <a href="https://caed.sep.gob.mx/" class="hidden lg:block md:h-full md:mt-0">
                <LogoCaed size="100%" color="#0B3441" />
            </a>
        </nav>
        <main
            class="bg-[#EDFEFE80] h-5/6 w-5/6 max-h-[70%] rounded-[12.5px] grid grid-rows-3"
        >
            <section
                class="row-span-2 flex gap-5 overflow-x-auto w-full pb-2 items-center px-10 "
                id="idTemporal"
            >
                <div
                    class="flex items-center gap-10 min-w-max"
                    id="brailleContainer"
                >
                    {
                        letterArray.map((letter: string) => {
                            return <CustomLetter letter={letter} />;
                        })
                    }
                </div>
            </section>

            <section
                class="w-full flex items-center justify-center px-10 o"
                id="timeline-container"
            >
                <!-- Aqui va el timeline -->
                {
                    <BrailleTimelineSvelte
                        client:load
                        config={
                            {
                                word: word,
                                currentIndex: 0
                            }
                        }
                    />
                }
            </section>
        </main>
        <footer class="text-center">
            <span
                class="text-center text-lg text-[#FFFFFF] font-[600] c-placeholder-text"
            >
                Versión {LocalVersion}
                <br /> Designed by DevSpark
            </span>
        </footer>
    </body>
    <script>
        addEventListener("DOMContentLoaded", () => {
            const $input = document.querySelector(
                "#search-bar-input",
            ) as HTMLInputElement;
            const $botonx = document.getElementById("button-x");
            $input?.addEventListener("input", () => {
                const input_value = $input.value;
                if (input_value.length > 0) $botonx?.classList.remove("hidden");
                else {
                    $botonx?.classList.add("hidden");
                }
            });
        });
        document
            .querySelector("#searchForm")
            ?.addEventListener("submit", (e: Event) => submitForm(e));
        async function submitForm(e: Event) {
            e.preventDefault();
            console.log("hola");
            const inputBuscar = document.querySelector(
                "#search-bar-input",
            ) as HTMLInputElement | null;
            if (inputBuscar) {
                try {
                    document.getElementById("loaderDiv")!.style.display =
                        "flex";
                    console.log("Si ves esto, andamos traduciendo");
                    const wordSaved = inputBuscar.value;
                    let tmp_array = [];
                    for (let i = 0; i < wordSaved.length; i++) {
                        tmp_array.push(wordSaved[i]);
                    }
                    setTimeout(() => {
                        window.location.href = `/braille/asistente?word=${encodeURIComponent(wordSaved)}`;
                    }, 100);
                } catch (error) {
                    document.getElementById("loaderDiv")!.style.display =
                        "none";
                    console.error("Error:", error);
                }
            }
        }
    </script>
</html>
