---
import "../../style/base.css";
import {cbtis212_URL, caed_URL} from "../../utils/urls";

import SearchZone from "../../components/dictionary/search-zone.svelte";

import IconLeftArrowV2 from "../../components/icons/icon-left-arrow-v2.astro";
import IconRefresh from "../../components/icons/icon-refresh.astro";

import LogoCaed from "../../components/logos/logo-caed.astro";
import LogoCbtis from "../../components/logos/logo-cbtis.astro";

const alphabet = Array.from("*abcdefghijklmnopqrstuvwxyz");

import ClientRouter from "astro/components/ClientRouter.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Diccionario</title>
        <link
            rel="shortcut icon"
            href="../../../public/isotipo.png"
            type="image/x-icon"
        />
        <ClientRouter />
    </head>
    <body class="bg-gradient-generic">
        <header class="w-full flex items-center justify-between h-1/5 p-4">
            <a href={ cbtis212_URL } class="hidden lg:block" 
            aria-hidden="true"
            >
                <LogoCbtis color="#0B3441" size="80"/>
            </a>
            <a href="/" class="bg-[#edfefe] flex justify-center rounded-md"
                aria-label="Regresar a la página principal"
            >
                <IconLeftArrowV2 color="#0B3441" size="80"/>
                
            </a>
            <h1 class="c-title-text text-center text-2xl text-[#0B3441] lg:text-4xl self-center select-none"
                aria-label="Te encuentras en el diccionario general"
            >
                Diccionario general
            </h1>
            <a href="" class="bg-[#edfefe] text-center rounded-md"
                aria-label="Recargar la página"
            >
                <IconRefresh color="#0B3441" size="80"/>
            </a>
            <a href={ caed_URL } class="hidden lg:block"
            aria-hidden="true"
            
            >
                <LogoCaed color="#0B3441" size="80"/>
            </a>
        </header>
        <nav class="w-full h-1/5 flex items-center gap-2 justify-around p-4 overflow-y-auto">
            {
                alphabet.map((letter) => 
                <a class="flex items-center justify-center py-2 px-4 w-full h-full rounded-md
                    bg-[#edfefe80] hover:bg-[#edfefe] text-[#0b3441] hover:text-[#157589]
                    ease-in-out duration-500 transition-all
                    "
                    href={`/diccionario/${letter}/0`}
                    >
                        <span
                            class="text-xl 
                            
                            "
                        >
                            {letter}
                        </span>
                    </a>
                )
            }
        </nav>
        <main class="h-2/5 p-4">
            <SearchZone
            client:load
            />
        </main>
    </body>
</html>
