---
import "../style/base.css";
import ClientRouter from "astro/components/ClientRouter.astro";

import LogoCaed from "../components/logos/logo-caed.astro";
import LogoCbtis from "../components/logos/logo-cbtis.astro";

import IconLeftArrow from "../style/icon-left-arrow.astro";

import IconAbc from "../components/icons/icon-abc.astro";
import IconBrailleDots from "../components/icons/icon-braille-dots.astro";

import LocalVersion from "../utils/localVersion";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sección de braille</title>
        <ClientRouter />
    </head>
    <body
        class="bg-gradient-generic grid grid-rows-3 place-items-center h-screen"
    >
        <nav class="flex justify-around items-center w-5/6 h-1/2">
            <a href="https://cbtis212.online/" class="h-full">
                <LogoCbtis size="100%" color="#0B3441" />
            </a>
            <div class="flex justify-between items-center gap-x-10 h-full">
                <h2 class="text-4xl c-title-text text-[#0B3441]">Seccion de braille</h2>
            </div>

            <a href="https://caed.sep.gob.mx/" class="h-full flex">
                <LogoCaed size="100%" color="#0B3441" />
            </a>
        </nav>
        <main class="flex justify-evenly">
            <section
                class="flex flex-col justify-center items-center cursor-pointer
            hover:scale-110 transition-transform ease-in-out duration-600 hover:drop-shadow-xl"
            >
                <a
                    id="dictionary-btn"
                    title="Traductor"
                    class="bg-[#EDFEFE] w-[144px] h-[144px] rounded-[12.5px] mx-15 flex flex-col justify-center items-center
                mb-3 drop-shadow-xl
                cursor-pointer"
                    href="../"
                >
                    <span class="ml-[25%]">
                        <IconLeftArrow size={"100%"} color="#083441" />
                    </span>
                </a>
                <label
                    class="c-placeholder-text text-xl text-[#0B3441] cursor-pointer"
                    for="dictionary-btn">Regresar</label
                >
            </section>
            <section
                class="flex flex-col justify-center items-center cursor-pointer
            hover:scale-110 transition-transform ease-in-out duration-600 hover:drop-shadow-xl"
            >
                <a
                    id="dictionary-btn"
                    title="Traductor"
                    class="bg-[#EDFEFE] w-[144px] h-[144px] rounded-[12.5px] mx-15 flex flex-col justify-center items-center
                mb-3 drop-shadow-xl ml-[25%]
                cursor-pointer"
                    href="/braille/abecedario"
                >
                    <IconAbc size="75%" />
                </a>
                <label
                    class="c-placeholder-text text-xl text-[#0B3441] cursor-pointer"
                    for="dictionary-btn">Abecedario en braille</label
                >
            </section>
            <section
                class="flex flex-col justify-center items-center cursor-pointer
            hover:scale-110 transition-transform ease-in-out duration-600 hover:drop-shadow-xl"
            >
                <a
                    id="dictionary-btn"
                    title="Traductor"
                    class="bg-[#EDFEFE] w-[144px] h-[144px] rounded-[12.5px] mx-15 flex flex-col justify-center items-center
                mb-3 drop-shadow-xl
                cursor-pointer"
                href="/braille/traductor"
                >
                    <IconBrailleDots size="75%" />
                </a>
                <label
                    class="c-placeholder-text text-xl text-[#0B3441] cursor-pointer"
                    for="dictionary-btn">Asistente de braille</label
                >
            </section>
        </main>
        <footer class="text-center flex items-center">
            <span
                class="text-center text-lg text-[#FFFFFF] font-[600] c-placeholder-text"
            >
                Versión {LocalVersion}
                <br /> Designed by DevSpark
            </span>
        </footer>
    </body>
</html>
