---
/* Diccionario dinamico */
import DiccionarioDinamico from "./diccionario.svelte";
---

<html>
    <head>
        <title>Diccionario</title>
    </head>
    <body>
        <DiccionarioDinamico client:load />
    </body>
</html>
