---
import "../style/base.css";

import { ClientRouter, fade, slide } from "astro:transitions";

import IconLeftArrow from "../style/icon-left-arrow.astro";
import IconSettings from "../style/icon-settings.astro";
import LogoCbtis from "../components/logos/logo-cbtis.astro";
import LogoCaed from "../components/logos/logo-caed.astro";

import DictionarySearchBar from "../components/dictionary/dictionary-search-bar.astro";
import DictionaryCard from "../components/dictionary/dictionary-card.astro";

import LocalVersion from "../utils/localVersion";
import { array } from "astro:schema";

const letters = Array.from({ length: 26 }, (_, i) =>
    String.fromCharCode(65 + i),
);

---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Diccionario</title>
        <ClientRouter />
    </head>

    <body
        class="bg-gradient-generic flex flex-col justify-evenly items-center h-screen max-h-[100vh]"
    >
        <nav class="flex justify-between items-center py-3 w-5/6">
            <a
                href="/"
                class="flex justify-center bg-[#edfefe] p-[10px] rounded-[25px]"
                aria-label="Regresar al inicio"
                title="Volver al inicio"
            >
                <span class="w-[50%]">
                    <IconLeftArrow size={"80px"} color="#083441" />
                </span>
            </a>
            <div class="flex justify-center w-3/4 h-full h-max-[125px]">
                <DictionarySearchBar
                    color="#edfefe"
                    placeholder="Buscar en el diccionario"
                />
            </div>
            <div
                class="flex justify-center bg-[#edfefe] p-[10px] rounded-[25px]"
                title=""
            >
                <IconSettings size={"80px"} color="#083441" />
            </div>
        </nav>
        <main class="bg-[#EDFEFE80] h-5/7 w-5/6 rounded-[12.5px]">
            <section
                class="grid grid-cols-3 grid-rows-1 gap-5 p-6 pt-10 overflow-y-auto max-h-[96%]"
            >
                <!-- Navegación alfabética -->
                <aside
                    class="col-span-3 flex justify-between items-center w-[100%] h-full sticky"
                >
                    {
                        letters.map((letter: string) => (
                            <a
                                id={letter}
                                href={"#letter" + letter}
                                class="text-[#063441] text-[20px] font-[600] "
                            >
                                {letter + ""}
                            </a>
                        ))
                    }
                </aside>

                <!-- Ejemplo estático -->
                <DictionaryCard
                    original_word="Abeja"
                    second_word="Bee"
                    third_word="Ant"
                    original_word_meaning="Un insecto que se alimenta de las hojas de las plantas y las frutas."
                    second_word_meaning="A bee is an insect that lives in the family Apidae. It is a member of the order Lepidoptera and is closely related to the wasp."
                    third_word_meaning="A bee is a small insect that lives in the family Apidae. It is a member of the order Lepidoptera and is closely related to the wasp."
                    video_url=""
                />

                <!-- Cards dinámicas con las palabras traducidas -->
                {
                    
                }
            </section>
        </main>
        <footer class="text-center flex items-center h-full">
            <span
                class="text-center text-lg text-[#FFFFFF] font-[600] c-placeholder-text"
            >
                Versión {LocalVersion}
                <br /> Designed by DevSpark
            </span>
        </footer>
    </body>
</html>