---
import Choose_Index from "../layouts/index/choose_index.astro";
import ClientRouter from "astro/components/ClientRouter.astro";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Easy Word App</title>
        <link
            rel="shortcut icon"
            href="../../../public/isotipo.png"
            type="image/x-icon"
        />
        <ClientRouter />
    </head>
    <Choose_Index />

</html>
