@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lustria&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";

.c-title-text, .text-quicksand {
    font-family: "Quicksand", sans-serif;
    
    font-weight: 700;
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.c-subTitle-text {
    font-family: "Lustria", serif;
    font-style: normal;
}

.c-normal-text {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.c-placeholder-text  {
    font-family: 'Inter';
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
}

.text-inter {
    font-family: 'Inter';
    font-optical-sizing: auto;
    font-style: normal;
}

.bg-gradient-generic {
    background: linear-gradient(#D2FAFB -33.55%, #1296AD 99.99%);
    background-attachment: fixed;
}

.c-bg-gradient-trans {
    background: linear-gradient(
        180deg,
        #74e5f3 4%,
        #3fc1d1 60%,
        #1eaabc 92%
    );
}

.c-drop-shadow-25px{
    filter: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.5))
}


.c-drop-shadow-10px{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.c-drop-shadow-7px{
    box-shadow: 0px 7.5px 7.5px rgba(0, 0, 0, 0.4);
}

html{
    /* Esconder el scroll horizontal */
    overflow-x: hidden;
}
