---
import { string } from "astro:schema";
import brailleMap from "../../utils/brailleMap.js";

interface Props {
    letter: string;
}

const { letter } = Astro.props;

let letra = letter.toUpperCase();

const letterArray = brailleMap[letra] || [0, 0, 0, 0, 0, 0];
---

<section class="flex flex-col items-center ">
    <strong class="text-[16pt] bg-[#2DD3E3] text-[#0b3441] rounded-t-[3px] pb-0.5 text-center w-1/2">
        {letter.toUpperCase() == " " ? "_" : letter.toUpperCase()}
    </strong>
    <div
        class="bg-[#157589] rounded-[6px] 
        grid grid-cols-2 grid-rows-3 gap-x-[24px] gap-y-[12px] grid-flow-col
        p-1.5"
    >
    {
        letterArray.map((dot: number) =>
            dot > 0 ? (
                <div class="bg-[#0B3441] rounded-[25px] h-[30px] w-[30px]" />
            ) : (
                <div class="bg-[#2DD3E3] rounded-[25px] h-[30px] w-[30px]"/>
            ),
        )
    }
    </div>
</section>
